<!DOCTYPE html>
<html lang="en">
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Covid 19 counter</title>
		<link href="https://fonts.googleapis.com/css?family=Teko&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Changa&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="../static/css/chart.css">
		<link rel="stylesheet" href="../static/css/all.css">
		<script src="https://cdn.jsdelivr.net/npm/baffle@0.3.6/dist/baffle.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="../static/script/shared_script.js"></script>
	</head>
	<body>
		<div class="present">Live counter</div>
		<div class="backsquare" id="backsquare">
			<div class="country" id="country-id">
				<h2>France</h2>
				<img src="../static/assets/france.png" width="50%" height="50%">
				<div class="canvas0">
					<canvas id="canvas_circle" width="700%" height="400%"></canvas>
				</div>
				<p class="infect-percent">{{infec_percent}}</p>
				<p class="recover-percent">{{recov_percent}}</p>
			</div>
			<div class="stat" id="stat-id">
				<div class="recover-count">{{recov_count}} Recovered.</div>
				<div class="infect-count">{{infec_count}} Infected.</div>
			</div>
		</div>
		<a class="btn_page_switch" href="/">Login Page</a>
		<a href="/">
			<img src="../static/assets/profile.png" class="profile_icon">
		</a>
	</body>
		<script type="text/javascript">
		let i = 0;

		let real_infected_count = 400;
		let real_recover_count = 100;
		let user_count = 1000;
		let infected_count = 0;
		let recover_count = 0;
		let infected_percent = 0;
		let recover_percent = 0;

		let red_x = 467;
		let red_y = 150;
		let green_x = 430;
		let green_y = 295;

		infected_percent = (real_infected_count / user_count) * 100;
		recover_percent = (real_recover_count / user_count) * 100;
		infected_count = (real_infected_count / user_count) * 65000000;
		recover_count = (real_recover_count / user_count) * 65000000;

		console.log(recover_percent);

		function load_circle() {
			var circle = document.getElementById("canvas_circle").getContext("2d");
			var circle_2 = document.getElementById("canvas_circle").getContext("2d");

			my_draw_circle(circle, red_x, red_y, (infected_percent / 100) * (i / 100), "#ff3333", 70);
			my_draw_circle(circle_2, green_x, green_y, (recover_percent / 100) * (i / 100), "#004d1a", 45);
			i += 3;
			setTimeout(function() {
				if (i < 100)
					window.requestAnimationFrame(load_circle);
    		}, 55);
		}

		function draw_line() {
			var canvas = document.getElementById('canvas_circle');
			if (canvas)
			{
				var context = canvas.getContext("2d");
				context.strokeStyle = '#999999';
				context.beginPath();
				context.moveTo(255, 366);
				context.lineTo(275, 366);
				context.lineTo(green_x - 30, green_y + 20);
				context.lineWidth = 5;
				context.stroke();
				context.moveTo(640, 37);
				context.lineTo(610, 37);
				context.lineTo(red_x + 90, red_y - 30);
				context.lineWidth = 5;
				context.stroke();			
			}
		}

		function load_to_window() {
			draw_line();
			window.requestAnimationFrame(load_circle);
		}

		var update_vue = new Vue({
			el: '#backsquare',
			data: {
				recov_percent: recover_percent.toString() + ' %',
				recov_count: recover_count.toString(),
				infec_percent: infected_percent.toString() + ' %',
				infec_count: infected_count.toString()
			}
		})
		window.onload = load_to_window;
		</script>
</html>
